@page
@model NintendoSwitchDeals.Web.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert alert-warning" role="alert">Are you sure you want to delete this?</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.DealId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.DealId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.NintendoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.NintendoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.ThresholdPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.ThresholdPrice) €
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Deal.DealId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>