@page
@model NintendoSwitchDeals.Web.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.DealId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.DealId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.NintendoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.NintendoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deal.ThresholdPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.ThresholdPrice) €
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Deal.DealId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>